
{extend name="base"/}
 {block name="content"}
<div id="dcWrap">
 {include file="public:header" /}

<!-- dcHead 结束 --> 
{include file="public:nav" /}
 <div id="dcMain"> <!-- 当前位置 -->
     <style>
         .bttnIframe{
             background:#0b8bea;
             font-size:20px;
             color:#fff;
             padding: 5px 10px;
             border-radius: 5px;
             margin-bottom: 10px;
             display: inline-block;
             cursor:pointer;
         }
         .bttnIframe_on{
             color: #ffffff;
             background: #51b3fb;
         }
     </style>
<div id="urHere">{$Think.config.ADMIN_TITLE}</div>
     <div id="index" class="mainBox" style="padding-top:18px;padding-bottom:0px;height:auto !important;">
 
   <div><h3>欢迎来到秦岭云后台管理</h3></div>
      <div class="indexBox">
       <a href="{:url('weixin/county/getPostCityArr')}" class="child1" style="background:#0b8bea;font-size:20px;color:#fff;padding: 5px 10px;border-radius: 5px;margin-bottom: 10px;display: inline-block;">更新一亩田全国价格</a>
       <a href="{:url('weixin/county/getPostCountyArr')}" class="child1" style="background:#0b8bea;font-size:20px;color:#fff;padding: 5px 10px;border-radius: 5px;margin-bottom: 10px;display: inline-block;">更新一亩田市价格</a>
       <a href="{:url('weixin/county/getMonthPrice')}" class="child1" style="background:#0b8bea;font-size:20px;color:#fff;padding: 5px 10px;border-radius: 5px;margin-bottom: 10px;display: inline-block;">更新一亩田近一个月价格</a>
  </div>

   </div>
 <div class="clear"></div>
{/block}