<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="css/public.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
</head>
<body>
<div id="header" class="fixed">
    <div class="header">
        <h1 class="logo">
            <a href="">
                <img src="img/logo.png" height="50">
            </a>
        </h1>
        <div class="common">
            <ul class="nav">
                <li><a href="index.html" class="">首页</a></li>
                <li><a href="main_news.html" class="">新闻动态</a></li>
                <li><a href="main_about_us.html" class="primary">关于我们</a></li>
                <li><a href="" style="cursor: default;"><span class="icon-phone"></span>400-029-1005</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="footer">
    <div class="footer">
        <div class="container">
            <div class="u-container-box">
                <div class="sidebar">
                    <h3>
                        关注我们<span>获取秦岭云最新资讯</span>
                    </h3>
                    <ul>
                        <li>
                            <div class="app-logo"></div>
                            <span>秦岭云微博</span>
                            <div class="float">
                                <div class="app-ma"></div>
                                <div class="arrow"></div>
                            </div>
                        </li>
                        <li>
                            <div class="wei-logo"></div>
                            <span>秦岭云公众号</span>
                            <div class="float">
                                <div class="wei-ma"></div>
                                <div class="arrow"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="about-us">
                    <h3>关于我们</h3>
                    <a href="main_about_us.html">公司介绍</a>
                    <a href="main_news.html">新闻动态</a>
                    <a href="main_recruit_position_job.html">加入我们</a>
                </div>
                <div class="contact-us">
                    <h3>联系我们</h3>
                    <a href="">秦岭云电子商务有限公司</a>
                    <a style="cursor:default;">电话：400-029-1005</a>
                    <a style="cursor:default;">地址：西安市高新区绿地中心A座2204</a>
                </div>
            </div>
        </div>
        <p class="copyright"> 陕西秦岭云电子商务有限公司 版权所有 ©2017 陕ICP备17019283号 </p>
    </div>
</div>
</body>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/index.js"></script>
</html>