{extend name="base"/}
{block name="content"}
<div id="dcWrap">
    {include file="public:header" /}

    <!-- dcHead 结束 -->
    {include file="public:nav" /}
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere">{$Think.config.ADMIN_TITLE}<b>></b><strong>添加大事件</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3>添加大事件</h3>
        <form action="{:url('chats/add')}" id="chat_add" method="post">
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <td width="80" align="right">时间</td>
                    <td>
                        <input type="text" id="date" name="date" value="" size="40" class="inpMain" readonly />
                        <font style="display:none" class="adcounty_name" color='red'>时间不能为空！</font>
                    </td>
                </tr>
                <tr>
                    <td align="right">事件</td>
                    <td>
                        <input type="text" id="content" name="content" value="" size="40" class="inpMain" />
                        <font style="display:none" class="adcounty_name" color='red'>事件不能为空！</font>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input  class="btn" type="submit"  value="提交" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    </div>
</div>
<script>
    $(".btn").click(function(){
        //时间判断
        if($("#date").val() == ""){
            $(".adcounty_name").show();
            return false;
        }else{
            $(".adcounty_name").hide();
        }
        //事件判断
        if($("#content").val() == ""){
            $(".adcounty_event").show();
            return false;
        }else{
            $(".adcounty_event").hide();
            return true;
        }

    })
    //时间年月
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //年月选择器
        laydate.render({
            elem: '#date'
            ,type: 'month'
        });

    });
</script>
{/block}