{extend name="base"/}
 {block name="content"}

<section>
	<h1 class="header-banner">
		致力于成为农村电商行业的引领者
	</h1>
</section>
<div id="main_recruit">
	<div class="tab" >
		<ul>
			<li class="btn primary" _attr="0">热招职位</li>
			<li class="btn" _attr="1">办公氛围</li>
		</ul>
	</div>
	<div class="tab-content" >
		<div data-name="热招职位" class="tab-item position-job" >
			<div  class="container">
				<p  class="intro">
					<span  class="icon"></span>
					简历投递邮箱：clc@chinlingcloud.com ，邮件主题标注应聘岗位+已工作年限+姓名
				</p>
				{volist name="res" id="vo"}
				<section  class="job">
					<h3  class="job-title weight">{$vo['position']}</h3>
					<p class="cli_show_hide_zhi">
						{$vo['rec_text']}
					</p>
				</section>
				<hr style="margin-top: 50px;margin-bottom: 50px;background: #DDDDDD;border: none;height: 1px;"/>
				{/volist}
			</div>
			<div class="pages">
				<h3>
					<span><a href="{:url('index/news/recruit',['page'=>1,'wen_id'=>$wenid,'type_pid'=>$type_pid])}">首页</a></span>
					{if condition="$page==1 || $page<'1'"}
					{else /}
					<span><a href="{:url('index/news/recruit',['page'=>$page-1,'wen_id'=>$wenid,'type_pid'=>$type_pid])}">上一页</a></span>
					{/if}
					<span>第<b>{$page}</b>页</span>

					{if condition="$maxPage==$page || $maxPage<$page"}
					{else /}
					<span><a href="{:url('index/news/recruit',['page'=>$page+1,'wen_id'=>$wenid,'type_pid'=>$type_pid])}">下一页</a></span>
					{/if}

					<span><a href="{:url('index/news/recruit',['page'=>$maxPage,'wen_id'=>$wenid,'type_pid'=>$type_pid])}">尾页</a></span>
					<span style="border: 0">共<b>{$maxPage}</b>页</span>
				</h3>
			</div>
		</div>
		<div data-name="办公氛围"  class="tab-item atmosphere" style="display: none">
			<div class="container">
				<section class="company-welfare">
					<h3 class="weight">福利待遇</h3>
					<ul>
						<!--<li>① 氪空间为小伙伴提供了工资全额为基数的五险一金并为大家购买了补充医疗保险，使得大家在忘我的工作时得到充分的保障。 </li>-->
						<!--<li>② 行政部也为大家准备了早餐和午餐（外地同事是餐补），虽然餐饮一向是众口难调，但从各位同学逐渐升高的体重来看，该举措还是深得人心滴。</li>-->
						<!--<li>③ 氪空间可为大家办理工作居住证，符合条件的童鞋都可以沟通到人事部进行咨询和办理。</li>-->
						<!--<li>④ 公司在假期方面为大家提供了带薪年假、带薪病假，其余假日也全部按照国家规定执行。</li>-->
						<!--<li>⑤ 值得一说的是，在社区内，运营同学也会为大家提供高频词的各种试吃和体验活动，让大小吃货都各饱口福，很多有意义的体验也是被赞不绝口。如此神奇的氪空间和众多优秀的小伙伴在等待着你，还在犹豫个啥子嘞。</li>-->
					</ul>
				</section>
				<hr style="margin-top: 50px;margin-bottom: 50px;background: #DDDDDD;border: none;height: 1px;"/>
			</div>
		</div>
	</div>
</div>


{/block}		